@import "../../partials/mixins.scss";
@import "../../partials/partials.scss";

.inventories__container {
  position: absolute;
  left: 4.27%;
  right: 4.27%;
  top: 20.39%;
  bottom: 24.89%;
  font-family: "Titillium Web";
  background-color: $white;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
}
